@model IEnumerable<ProductView>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id товара</td>
                    <td>Наименование товара</td>
                    <td>Цена</td>
                    <td>Количество покупок</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Cost</td>
                        <td>@product.BuyCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

